{{page-title 'Item'}}
<GeneralContainer>
  <div class='product item-details-page'>
    <Product::Image />
    <Product::Details />
  </div>
  <h4 class='mt-5'>Features</h4>
  <ul>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores veniam
      obcaecati inventore, enim aspernatur vitae reiciendis quod possimus quos
      necessitatibus, dicta aliquid hic dolores consequuntur natus sed id totam
      ipsa?</li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores veniam
      obcaecati inventore, enim aspernatur vitae reiciendis quod possimus quos
      necessitatibus, dicta aliquid hic dolores consequuntur natus sed id totam
      ipsa?</li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores veniam
      obcaecati inventore, enim aspernatur vitae reiciendis quod possimus quos
      necessitatibus, dicta aliquid hic dolores consequuntur natus sed id totam
      ipsa?</li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores veniam
      obcaecati inventore, enim aspernatur vitae reiciendis quod possimus quos
      necessitatibus, dicta aliquid hic dolores consequuntur natus sed id totam
      ipsa?</li>
  </ul>
</GeneralContainer>

{{outlet}}